<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="zapm.ZPM">
<Module>
 <Name>zapm</Name>
  <Version>1.0.42</Version>
  <Description>Zapm is a shell - extends the zpm shell and adds any other commands.</Description>
  <Keywords>Extension Package Manager</Keywords>
  <Author>
   <Person>Mikhaylenko Sergey</Person>
   <CopyrightDate>2022</CopyrightDate>
   <License>MIT</License>
  </Author>
  <Packaging>module</Packaging>
   <SourcesRoot>src</SourcesRoot>
  <Resource Name="%ZAPM.ext.PKG" Directory="cls"/>
  <Resource Name="%ZAPM.ext.Common.INC" Directory="inc"/>
  <Resource Name="%ZAPM.ZpmLoad.GBL"/>
  <UnitTest Name="/unitest/zapm/" Package="ZAPM.unutest.zapm" Phase="verify"/>
  <Invokes>
   <Invoke Class="%ZAPM.ext.zapp" Method="init"></Invoke>
  </Invokes>
</Module>
</Document>
</Export>
