<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="zapm.ZPM">
<Module>
 <Name>zapm</Name>
  <Version>1.0.16</Version>
  <Description>Zapm is a shell - extends the zpm shell and adds any other commands.</Description>
  <Keywords>Extension Package Manager</Keywords>
  <Author>
   <Person>Mikhaylenko Sergey</Person>
   <CopyrightDate>2021</CopyrightDate>
   <License>MIT</License>
  </Author>
  <Packaging>module</Packaging>
  <SourcesRoot>./</SourcesRoot>
	<Invokes>
	<Invoke Class="%SYSTEM.OBJ" Method="CompilePackage">
      <Arg>%ZAPM</Arg>
	  <Arg>cuk</Arg>
    </Invoke>
	<Invoke Class="%ZAPM.ext.zapp" Method="init"></Invoke>
	</Invokes>
  <Resource Name="zapm.PKG"/> 
</Module>
</Document>
</Export>
